<p><a href="/theaters">Back</a></p>

<h1>Theater #<%= @theater.id %></h1>

<table>
	<thead>
		<th>Name:</th>
		<th>Address:</th>
	</thead>
	<tbody>
		<td><%= @theater.name %></td>
		<td><%= @theater.address %></td>
	</tbody>
</table>

<%= render 'map' %>